!!! 5
%html
  %head
    %title usergroup
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
  %body
    #container
      .full.bg_mediumgrey Logo
      .full.bg_lightgrey
        .twothird.first.bg_lightgrey
          %h1 User Group
        .third.last
          %ul.hmenu
            = render 'devise/menu/registration_items'
            = render 'devise/menu/login_items'
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
      = yield
